.footer {
    background-color: $color-primary;
    padding: 48px 0 0 0;
    display: block;
    position: relative;
    color: white;

    &__logo {

        a {
            display: block;
        }
        
        object,
        svg {
            max-width: 136px;
        }

    }

    &__social {

        a {
            display: inline-block;
            margin: 0 2px;
            background-color: white;
            border-radius: 100px;
            height: 28px;
            width: 28px;
            text-align: center;

            &:hover {
                text-decoration: none;

                i {
                    color: $color-secondary;
                }

            }

        }

        i {
            font-size: 18px;
            line-height: 1;
            margin: 0 auto;
            margin: 0;
            display: inline-block;
            vertical-align: middle;
            color: $color-primary;
            @include trans(200ms);

            &.fa-instagram {
                font-size: 19px;
                vertical-align: -4px;
            }

            &.fa-twitter {
                vertical-align: -4px;
            }

        }

    }

    &__info {
        margin-top: 20px;
    }

    &__address {
        line-height: 1.6;

        address {
            margin: 16px 0 0 0;
        }

        a {

            span {
                font-weight: 700;
            }
            
            &:hover {
                text-decoration: none;
                color: white;

                span {
                    color: $color-secondary;
                }

            }

        }

    }

    &__bottom {
        margin-top: 32px;
        padding: 18px 0 20px;
        background-color: #170e31;
    }

}