.footer {
    background-color: $color-primary;
    padding: 48px 0 0 0;
    display: block;
    position: relative;
    color: white;

    @media(max-width: 575px) {

        * {
            text-align: center!important;
        }

    }

    &__logo {

        a {
            display: block;
        }
        
        object,
        svg {
            max-width: 136px;
        }

    }

    &__social {

        a {
            display: inline-block;
            margin: 0 2px;
            background-color: white;
            border-radius: 100px;
            height: 28px;
            width: 28px;
            text-align: center;

            &:hover {
                text-decoration: none;

                i {
                    color: $color-secondary;
                }

            }

        }

        i {
            font-size: 18px;
            line-height: 1;
            margin: 0 auto;
            margin: 0;
            display: inline-block;
            vertical-align: middle;
            color: $color-primary;
            @include trans(200ms);

            &.fa-instagram {
                font-size: 19px;
                vertical-align: -4px;
            }

            &.fa-twitter {
                vertical-align: -4px;
            }

        }

    }

    &__info {
        margin-top: 30px;

        p {
            margin: 0;
        }

        .list {
            //padding-left: 100px;]
            text-align: center;

            span {
                font-weight: 700;
            }

            ul {
                margin: 10px 0 0 0;
                padding: 0;
                font-size: 14px;

                li {
                    font-size: 14px;
                    line-height: 1.5;

                    a:hover {
                        text-decoration: none;
                        color: $color-secondary;
                    }

                }

            }

        }

        .bio {

            @media(max-width: 575px) {
                order: 100!important;
            }

        }

        .connect {

            @media(max-width: 767px) {
                text-align: left!important;
                margin-top: 30px;
            }

            @media(max-width: 575px) {
                text-align: center!important;
                order: 1!important;
                margin-top: 0;
                margin-bottom: 30px;
            }

            > span {
                font-weight: 700;
            }

            > .row {
                margin-top: 20px;
            }

            a {
                display: inline-block;
                margin: 0 0 10px 10px;

                @media(max-width: 767px) {
                    margin: 0 10px 10px 0;
                }

                &.btn {
                    margin-top: 20px;
                }

                i {
                    background-color: white;
                    border-radius: 100px;
                    height: 36px;
                    width: 36px;
                    text-align: center;
                    font-size: 21px;
                    line-height: 36px;
                    margin: 0 auto;
                    display: inline-block;
                    vertical-align: middle;
                    color: $color-primary;
                    @include trans(200ms);

                    &.fa-instagram {
                        font-size: 23px;
                    }

                }

                span {
                    display: none;
                    @include trans(200ms);
                }
    
                &:hover {
                    text-decoration: none;
    
                    i,
                    span {
                        color: $color-secondary;

                        &.fa-facebook-f {
                            color: #3b5998;
                        }
    
                        &.fa-twitter {
                            color: #1da1f2;
                        }
    
                        &.fa-linkedin-in {
                            color: #007bb5;
                        }
    
                        &.fa-instagram {
                            color: #c32aa3;
                        }

                    }
    
                }
    
            }

        }

    }

    &__address {
        line-height: 1.6;

        address {
            margin: 16px 0 0 0;
        }

        a {

            span {
                font-weight: 700;
            }
            
            &:hover {
                text-decoration: none;
                color: white;

                span {
                    color: $color-secondary;
                }

            }

        }

    }

    &__bottom {
        margin-top: 32px;
        padding: 18px 0 20px;
        background-color: #170e31;

        @media(max-width: 575px) {
            padding: 12px 0;

            * {
                text-align: center!important;
            }

        }

        a:hover {
            color: $color-secondary;
            text-decoration: none;
        }

    }

}