.header {

    &__main {
        min-height: 100vh;
        color: white;
        display: flex;
        position: relative;
        transform: translateY(-88px);

        // &-title {
            
        //     span {
        //         background: linear-gradient(150deg, $color-tertiary, $color-secondary);
        //         -webkit-background-clip: text;
        //         -webkit-text-fill-color: transparent;
        //     }

        // }

        &-text {
            margin: 24px 0 16px;
        }

    }

}