.header {
    position: relative;

    &__main {
        min-height: calc(100vh - 88px);
        color: white;
        display: flex;

        // &-title {
            
        //     span {
        //         background: linear-gradient(150deg, $color-tertiary, $color-secondary);
        //         -webkit-background-clip: text;
        //         -webkit-text-fill-color: transparent;
        //     }

        // }

        &-text {
            margin: 24px 0 16px;
        }

    }

}