.home {

    &__about {
        background-color: white;
        padding: 150px 0 170px;

        .cambridge {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 0;
            opacity: 0.75;
            max-width: 580px;
        }

        .earth {
            position: absolute;
            right: 100px;
            top: 50px;
            z-index: 0;
            opacity: 0.85;
            max-width: 256px;
        }

    }

    &__expertise {
        background-color: #f1f1f1;
        padding: 96px 0; 
    }

}