.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    max-height: 88px;
    padding-top: 20px;
    padding-bottom: 20px;
    //box-shadow: 0 3px 3px -3px rgba(0,0,0,.1);
    box-shadow: 0 -25px 70px -20px rgba(0,0,0,1);
    z-index: 99999999;
    background-color: white;
    @include trans(250ms);

    @media(max-width: 575px) {
        box-shadow: 0 -20px 60px -15px rgba(0,0,0,1);
    }

    &.home {
        background-color: transparent;
        //box-shadow: 0 3px 3px -3px rgba(0,0,0,0);
        box-shadow: 0 -25px 70px -20px rgba(0,0,0,0);

        .navigation__menu {

            li {
    
                a {
                    color: white;

                    i {
                        color: white;
                    }

                    &:hover {
                        color: $color-secondary;
                        text-decoration: none;
                    }

                }
    
            }

        }

        .logo {
            display: block;
            opacity: 0;

            &.home {
                display: block!important;
                opacity: 1;
            }

        }

    }

    &.scrolled {
        padding-top: 7px;
        padding-bottom: 7px;
        max-height: 60px;
    }

    &__container {
        margin: 0 -15px;
    }

    .logos {
        min-height: 28px;
    }

    .logo {
        text-align: center;
        opacity: 1;
        display: block;
        position: absolute;
        top: 0;

        &.home {
            opacity: 0;
            margin-top: -2px;
        }

        object,
        svg {
            width: 96px;
        }

    }

    &__menu {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: center;
        align-content: center;
        align-items: flex-end;
        margin-bottom: 0px;
        margin-right: 16px;
        padding: 0;
        @include trans(250ms);

        @media(max-width: 575px) {
            display: none!important;
        }

        &-cont {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            align-content: flex-end;

            .btn {
                margin: 0;
            }

        }

        li {
            padding: 8px 4px 6px;
            position: relative;

            a {
                display: block;
                padding: 4px 6px;
                font-size: 16px;
                line-height: 1;
                font-weight: 500;
                text-transform: lowercase;
                @include trans(250ms);
                border-radius: 5px;
                border: 1px solid transparent;

                i {
                    font-size: 22px;

                    &.fa-facebook-f {
                        color: #3b5998;
                    }

                    &.fa-twitter {
                        color: #1da1f2;
                    }

                    &.fa-linkedin-in {
                        color: #007bb5;
                    }

                    &.fa-instagram {
                        color: #c32aa3;
                    }

                }

                &:hover,
                &.active {
                    color: $color-secondary;
                    text-decoration: none;
                }

            }

        }

    }

}