.btn {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	cursor: pointer;
	transition: all 250ms ease;
	border-radius: 6px;
	padding: 12px 36px 13px!important;
	border: none;
	font-size: 18px;
	font-weight: 700;
	width: auto;
	height: auto!important;
	letter-spacing: 0.5px;

	&:hover {
		@include shadowVMore;
		transform: translateY(-5px);
	}

	@media(max-width: 767px) {
		padding: 10px 30px!important;
		font-size: 17px;
	}

	&.small {
		margin: 0 auto;
		padding: 10px 27px!important;
		font-size: 17px;

		&:hover {
			@include shadowVMore;
			transform: translateY(-4px);
		}

		@media(max-width: 767px) {
			padding: 9px 21px!important;
			font-size: 16px;
		}

	}

	&.vsmall {
		margin: 0 auto;
		padding: 8px 21px!important;
		font-size: 15px;

		&:hover {
			@include shadowVMore;
			transform: translateY(-3px);
		}

		@media(max-width: 767px) {
			padding: 7px 15px!important;
			font-size: 14px;
		}

	}

	&:hover,
	&:focus,
	&:active {
		text-decoration: none!important;
		outline: none!important;

		* {
			text-decoration: none!important;
			outline: none!important;
		}

	}

	&__default {
		margin: 16px auto 0;
		display: inline-block;
		color: $color-tertiary;
		background-color: white;

		&:hover {
			background-color: $color-tertiary;
			color: white;
		}

	}

	&__colorS {
		margin: 16px auto 0;
		display: inline-block;
		color: white!important;
		background-color: $color-secondary;
	}

	&__colorT {
		margin: 16px auto 0;
		display: inline-block;
		color: white!important;
		background-color: $color-tertiary;
	}

	&__gradient {
		margin: 16px auto 0;
		display: inline-block;
		border: none;
		color: white!important;
		@include gradientA($color-tertiary, $color-secondary);
	}

	&__hollow {
		margin: 16px auto 0;
		display: inline-block;
		padding: 9px 36px 10px!important;
		border: 3px solid $color-tertiary;
		color: $color-tertiary;
		background-color: transparent;

		&:hover {
			background-color: $color-tertiary;
			color: white;
		}
	
		&.small {
			margin: 8px auto 0;
			padding: 7px 24px!important;
			font-size: 17px;
			border: 3px solid $color-tertiary;

			@media(max-width: 767px) {
				padding: 6px 18px!important;
				font-size: 16px;
			}

		}

	}

}