$color-primary: #201344;
$color-secondary: #da3d6c;
$color-tertiary: #582AD9;
$color-black: #231F20;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto Slab', serif;

@mixin shadow() {
    box-shadow: 2px 2px 7px 0 rgba($color: #000000, $alpha: 0.3);
}

@mixin shadowV() {
    box-shadow: 0 2px 7px 0 rgba($color: #000000, $alpha: 0.3);
}

@mixin shadowMore() {
    box-shadow: 3px 3px 10px 0 rgba($color: #000000, $alpha: 0.4);
}

@mixin shadowVMore() {
    box-shadow: 0 3px 10px 0 rgba($color: #000000, $alpha: 0.4);
}

@mixin gradient($c1, $c2) {
    background: $c1;
    background: -moz-linear-gradient(90deg, $c1 0%, $c2 100%);
    background: -webkit-linear-gradient(90deg, $c1 0%, $c2 100%);
    background: linear-gradient(90deg, $c1 0%, $c2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$c1",endColorstr="$c2",GradientType=1);
}

@mixin gradientA($c1, $c2) {
    background: rgb($c1);
    background: -moz-linear-gradient(150deg, $c1 0%, $c2 100%);
    background: -webkit-linear-gradient(150deg, $c1 0%, $c2 100%);
    background: linear-gradient(150deg, $c1 0%, $c2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$c1",endColorstr="$c2",GradientType=1);
}

@mixin trans($time) {
    transition: all $time ease;
}

.bg-black {
    background-color: black;
}

.no-padding {
    padding: 0!important;
}